@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:'Cinzel', serif;
    background:#000;
}

/* Background */
.background{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-image:url("corridor.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    z-index:0;
}

.overlay{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.35);

    z-index:1;
}

.hero{
    position:relative;
    z-index:2;

    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;
}
/* Main Title */

.title{
    color:#fff;

    font-size:7rem;

    font-weight:800;

    letter-spacing:14px;

    text-transform:uppercase;

    text-shadow:
    0 0 15px rgba(255,179,0,0.9),
    0 0 30px rgba(255,179,0,0.8),
    0 0 60px rgba(255,122,0,0.7);

    animation:floatTitle 6s ease-in-out infinite;
}

/* Subtitle */

.subtitle{
    margin-top:15px;

    color:rgba(255,255,255,0.85);

    letter-spacing:6px;

    font-size:1rem;

    text-transform:uppercase;

    text-shadow:
    0 0 10px rgba(255,179,0,0.4);
}

/* Button */

.enter-btn{
    margin-top:45px;

    text-decoration:none;

    color:#fff;

    border:2px solid #ffb300;

    padding:16px 50px;

    border-radius:50px;

    font-size:1rem;

    letter-spacing:5px;

    transition:all .4s ease;

    background:rgba(0,0,0,0.25);

    box-shadow:
    0 0 15px rgba(255,179,0,0.4);
}

.enter-btn:hover{
    transform:
    translateY(-5px)
    scale(1.05);

    background:
    rgba(255,179,0,0.08);

    box-shadow:
    0 0 20px #ffb300,
    0 0 40px #ffb300,
    0 0 80px rgba(255,122,0,0.8);
}

/* Particles */

#particles{
    position:fixed;
    inset:0;

    pointer-events:none;

    background-image:
    radial-gradient(
        rgba(255,179,0,0.6) 1px,
        transparent 1px
    );

    background-size:140px 140px;

    opacity:.25;

    animation:
    particlesMove 25s linear infinite;
}

/* Animations */

@keyframes floatTitle{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }
}

@keyframes particlesMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-300px);
    }
}

/* Mobile */

@media(max-width:768px){

    .title{
        font-size:3rem;
        letter-spacing:6px;
    }

    .subtitle{
        font-size:.8rem;
        letter-spacing:3px;
    }

    .enter-btn{
        padding:14px 35px;
        font-size:.9rem;
    }
}